<!doctype html>
<html>
	<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
	
	<title>{{resume.basics.name}}</title>

	<style>
	{{{css}}}
	</style>
	
	</head>
	<body>
	
	<div id="resume">

	{{#resume.basics}}
  <div id='nameBlock' class='largeFont'>
    <span id='name'>{{name}}{{#if label}},{{/if}}</span>
    {{#if label}}
    <span id='label'>{{label}}</span>
    {{/if}}
  </div>
  <div id="basicsBlock" class='smallFont'>
    <div id='contactBlock'>
      {{#if email}}<span id='email'>{{email}}</span>{{/if}}
      {{#if phone}} | <span id='phone'>{{phone}}</span>{{/if}}
      {{#location}}
        {{#if city}} | <span id='city'>{{city}}</span>{{/if}},
        {{#if countryCode}}<span id='country'>{{countryCode}}</span>{{/if}}
      {{/location}}
    </div>
    {{#if profiles.length}}
      <div id="profilesBlock">
        {{#each profiles}}
          {{#if url}}
            <span class="url">
              <a href="{{url}}">{{url}}</a>
            </span>
            {{#unless @last}}<span>|</span>{{/unless}}
          {{/if}}
      {{/each}}
      </div>
    {{/if}}
  </div>
  <div class='thickLine'></div>
	{{/resume.basics}}

  {{#if resume.basics.summary}}
  <div id="summary">
    <div class='sectionName'>
      <p>Summary</p>
    </div>
    <div class="sectionContent">
      <p>{{resume.basics.summary}}</p>
    </div>
  </div>
  <div class='thinLine'></div>
  {{/if}}

	{{#if resume.work.length}}
  <div id="work">
    <div class='sectionName'>
      <p>Experience</p>
    </div>
    <div class="sectionContent">
      {{#each resume.work}}
      <div id="experienceBlock">
        <span id='position'>{{position}},</span>
        <span id='company'>{{company}}</span>
        <span id='website'>({{website}})</span>
        <span id='dateBlock'>
          <span class="startDate">{{startDate}}</span>
          {{#if endDate}}
          <span class="endDate">- {{endDate}}</span>
          {{else}}
          <span class="endDate">- Present</span>
          {{/if}}
        </span>
        {{#if highlights.length}}
        <ul class="highlights">
          {{#each highlights}}
          <li>{{.}}</li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
      {{/each}}
    </div>
  </div>
  <div class='thinLine'></div>
	{{/if}}

  <!-- TBD -->
	<!-- {{#if resume.volunteer.length}} -->
	<!-- {{/if}} -->
	
	{{#if resume.education.length}}
	<div id="education">
    <div class='sectionName'>
      <p>Education</p>
    </div>
    <div class="sectionContent">
      {{#each resume.education}}
      <div class="educationBlock">
        <div>
          <span class="studyType">{{studyType}}</span>
          <span class="area">{{area}},</span>
          <span class="institution">{{institution}}</span>
        </div> 
        <div>
          <span class="startDate">{{startDate}}</span>
          {{#if endDate}}
          <span class="endDate">- {{endDate}}</span>
          {{else}}
          <span class="endDate">- Present</span>
          {{/if}}
          {{#if gpa}}
          <span class="gpa">, GPA: {{gpa}}</span>
          {{/if}}
        </div> 
        {{#if courses.length}}
        <div class='coursesBlock'>
          {{#each courses}}
          <ul class="coursesList">
            {{#each .}}
            <li class='course'>{{.}}</li>
            {{/each}}
          </ul>
          {{/each}}
        </div>
        {{/if}}
      </div>
      {{/each}}
    </div>
	</div>
  <div class='thinLine'></div>
	{{/if}}
	
  <!-- TBD -->
	<!-- {{#if resume.awards.length}} -->
	<!-- <section id="awards"> -->
	<!-- 	<h2>Awards</h2> -->
	<!-- 	{{#each resume.awards}} -->
	<!-- 	<div class="item"> -->
	<!-- 		{{#if title}} -->
	<!-- 		<div class="title"> -->
	<!-- 			{{title}} -->
	<!-- 		</div> -->
	<!-- 		{{/if}} -->
	<!-- 		{{#if date}} -->
	<!-- 		<div class="date"> -->
	<!-- 			{{date}} -->
	<!-- 		</div> -->
	<!-- 		{{/if}} -->
	<!-- 		{{#if awarder}} -->
	<!-- 		<div class="awarder"> -->
	<!-- 			{{awarder}} -->
	<!-- 		</div> -->
	<!-- 		{{/if}} -->
	<!-- 		{{#if summary}} -->
	<!-- 		<div class="summary"> -->
	<!-- 			<p>{{summary}}</p> -->
	<!-- 		</div> -->
	<!-- 		{{/if}} -->
	<!-- 	</div> -->
	<!-- 	{{/each}} -->
	<!-- </section> -->
	<!-- {{/if}} -->
	
  <!-- TBD -->
	<!-- {{#if resume.publications.length}} -->
	<!-- <section id="publications"> -->
		<!-- <h2>Publications</h2> -->
		<!-- {{#each resume.publications}} -->
		<!-- <div class="item"> -->
			<!-- {{#if name}} -->
			<!-- <div class="name"> -->
				<!-- {{name}} -->
			<!-- </div> -->
			<!-- {{/if}} -->
			<!-- {{#if publisher}} -->
			<!-- <div class="publisher"> -->
				<!-- {{publisher}} -->
			<!-- </div> -->
			<!-- {{/if}} -->
			<!-- {{#if releaseDate}} -->
			<!-- <div class="releaseDate"> -->
				<!-- {{releaseDate}} -->
			<!-- </div> -->
			<!-- {{/if}} -->
			<!-- {{#if website}} -->
			<!-- <div class="website"> -->
				<!-- <a href="{{website}}">Link</a> -->
			<!-- </div> -->
			<!-- {{/if}} -->
			<!-- {{#if summary}} -->
			<!-- <div class="summary"> -->
				<!-- <p>{{summary}}</p> -->
			<!-- </div> -->
			<!-- {{/if}} -->
		<!-- </div> -->
		<!-- {{/each}} -->
	<!-- </section> -->
	<!-- {{/if}} -->
	
	{{#if resume.skills.length}}
	<div id="skills">
    <div class='sectionName'>
      <p>Skills</p>
    </div>
    <div class="sectionContent">
      {{#each resume.skills}}
      <div class="skillBlock">
        {{#if name}}
        <span class="name">{{name}}</span>
        {{/if}}
        {{#if level}}
        <span class="level"><em>({{level}})</em></span>
        {{/if}}
        {{#if keywords.length}}
          <span>:</span>
          {{#each keywords}}
          <span>{{.}}</span>{{#unless @last}}, {{/unless}}
          {{/each}}
        </ul>
        {{/if}}
      </div>
      {{/each}}
    </div>
	</div>
	{{/if}}

  <!-- TBD -->
	<!-- {{#if resume.languages.length}} -->
	<!-- <section id="languages"> -->
	<!-- 	<h2>Languages</h2> -->
	<!-- 	{{#each resume.languages}} -->
	<!-- 	<div class="item"> -->
	<!-- 		{{#if language}} -->
	<!-- 		<div class="language"> -->
	<!-- 			{{language}} -->
	<!-- 		</div> -->
	<!-- 		{{/if}} -->
	<!-- 		{{#if fluency}} -->
	<!-- 		<div class="fluency"> -->
	<!-- 			<em>{{fluency}}</em> -->
	<!-- 		</div> -->
	<!-- 		{{/if}} -->
	<!-- 	</div> -->
	<!-- 	{{/each}} -->
	<!-- </section> -->
	<!-- {{/if}} -->

  <!-- TBD -->
	<!-- {{#if resume.interests.length}} -->
	<!-- <section id="interests"> -->
		<!-- <h2>Interests</h2> -->
		<!-- {{#each resume.interests}} -->
		<!-- <div class="item"> -->
			<!-- {{#if name}} -->
			<!-- <div class="name"> -->
				<!-- {{name}} -->
			<!-- </div> -->
			<!-- {{/if}} -->
			<!-- {{#if keywords.length}} -->
			<!-- <ul class="keywords"> -->
				<!-- {{#each keywords}} -->
				<!-- <li>{{.}}</li> -->
				<!-- {{/each}} -->
			<!-- </ul> -->
			<!-- {{/if}} -->
		<!-- </div> -->
		<!-- {{/each}} -->
	<!-- </section> -->
	<!-- {{/if}} -->
	
  <!-- TBD -->
	<!-- {{#if resume.references.length}} -->
	<!-- <section id="references"> -->
		<!-- <h2>References</h2> -->
		<!-- {{#each resume.references}} -->
		<!-- <div class="item"> -->
			<!-- {{#if reference}} -->
			<!-- <blockquote class="reference"> -->
				<!-- {{reference}} -->
			<!-- </blockquote> -->
			<!-- {{/if}} -->
			<!-- {{#if name}} -->
			<!-- <div class="name"> -->
				<!-- — {{name}} -->
			<!-- </div> -->
			<!-- {{/if}} -->
		<!-- </div> -->
		<!-- {{/each}} -->
	<!-- </section> -->
	<!-- {{/if}} -->
	
	<!-- </div> -->
	
	</body>
</html>
